@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?20659501');
  src: url('../fonts/fontello.eot?20659501#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?20659501') format('woff'),
       url('../fonts/fontello.ttf?20659501') format('truetype'),
       url('../fonts/fontello.svg?20659501#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: #000;
}
#header{
	width: 75%;
  height: 700px;
  background-image: url(../images/head.png);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-size: 74vw 50vw;
  background-repeat: no-repeat;
  margin: 0 auto;
  overflow: hidden;
}
#header nav {
	margin: 0 auto;
	vertical-align: middle;
	width: 100%;
  background-image: url(../images/fondo_m.png);
  position: fixed;
 height: 9vw;
  
}
.menu{
  width: 100%;
  margin-left:-40px;
}
li{
  display: inline-block;
  width: 11vw;
  height: 6vw;
  margin: 13px 3.5%;
    
}
.about  a{
   background: url("../images/about_me.png"); 
   background-size: 11vw 4vw;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.skills a{
    background: url("../images/skills.png");    
    background-repeat: no-repeat;  
    background-size: 11vw 4vw;
    display: inline-block;
     width: 100%;
  height: 100%;
    vertical-align: top;
}
.int_center a{
    background: url("../images/int_center.png");  
    background-repeat: no-repeat;
    background-size: 11vw 5vw;
    display: inline-block;
     width: 100%;
  height: 100%;
    vertical-align: top;
}
.contact a{
    background: url("../images/contact.png");   
    background-repeat: no-repeat;
    background-size: 11vw 4vw;
    display: inline-block;
     width: 100%;
  height: 100%;
    vertical-align: top;
}


#about{

  width: 75%;
  height: 700px;
  background-image: url(../images/about_seccion.png);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-size: 74vw 50vw;
  background-repeat: no-repeat;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;

}

#skills{

  width: 75%;
  height: 700px;
  background-image: url(../images/skills_seccion.png);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-size: 74vw 50vw;
  background-repeat: no-repeat;
  margin: 0 auto;
  overflow: hidden;
  background-color: #000;

}